.first{
    height:40vh;
    width:30vw;
}
.second{
    height:40vh;
    width: 20vw;
}
.third{
    height:40vh;
    width:30vw;
}
#first{
    height: 50vh;
    width: 50vw;
}
.allimages{
    display: flex;
    justify-content: center;
}
.title{
    color: #0e0e0e;
    position: relative;
    font-size: 3em;
    font-family: 'Inknut Antiqua', serif;
    text-align: center;
    width: 30vw;
}
h4{
    color: whitesmoke;
    font-size: 1.5em;
    font-style: oblique;
    font-family: 'Inknut Antiqua', serif;
    text-align: center;

}
.back{
    background-color:whitesmoke;
    opacity: .9;
}

.box{
    font-family: 'Inknut Antiqua', serif;
    color: #1a1a1a;
    text-align: center;
}
.text2{
    text-align: center;
}
.bord{
    border: 4px solid black;
    border-radius: 2%;
    color: #0e0e0e;

}
.small{
    position: relative;
    right:10%;
}
.black{
    color:black;
}
.bord a div{
    color:black;
    text-align: center;

    font-size: 1.2em;
}
.bord a div:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
