

img {
    position: relative;
    left:15%;
    margin-top:2%;
}
h5{
    position: relative;
    left:14%;
    margin-top:4%;
}
change-login{
    color:white;
}
body{
    background-image: url("../js2/images/image1.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}
header{
    font-family: 'Inknut Antiqua', serif;
    display: flex;
    justify-content: center;

}

header a:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}

@media only screen and (max-width: 768px) {
    header .navbar{
        display: inline-flex;
        justify-content: center;
    }
    header a:hover {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        z-index: 1;
    }
    nav{
        margin-top: 1%;
        width: 30vw;
        height: 15vh;
        margin-right: 68vw ;

        font-size: .8em;
    }
}


