.total{
    width:30vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
    padding: .5% 2% 2% 2%;
    height: 87vh;
    font-family: 'Inknut Antiqua', serif;
}
.flex1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bord{
    border: 2px solid black;
    border-radius: 2%;
}

.button5{
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}

i:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.redirect{
    padding-top: 2%;
    text-align: center;
    margin-top:10%;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    border: solid 2px black;
    border-radius: 2%;
    height: auto;
    width: 40vw;
    font-family: 'Inknut Antiqua', serif;
}
.link{
    position: relative;
    left: 20vw;
  }

@media only screen and (max-width: 1024px) {
    .total{
        width:45vw;
        position: inherit;
        height: inherit;

    }
}
.redirect{
    padding: 2%;
    text-align: center;
    margin-top:10%;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    border: solid 2px black;
    border-radius: 2%;
    height: auto;
    width: 50vw;
    font-family: 'Inknut Antiqua', serif;
}

@media only screen and (max-width: 768px) {
    .total{
        width:50vw;
        position: inherit;
    }
}
@media only screen and (max-width: 425px) {
    .total{
        width:70vw;
        position: inherit;
    }
    .flex1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .redirect{
        padding: 5%;
        width:60vw;
    }
}
@media only screen and (max-width: 375px) {
    .total{
        width:70vw;
        position: inherit;
    }
    .flex1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .redirect{
        padding: 5%;
        width:60vw;
    }

}