.total{
    width:30vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
    padding: .5% 2% 2% 2%;
    height: 87vh;
    font-family: 'Inknut Antiqua', serif;
}

.bord{
    border: 2px solid black;
    border-radius: 2%;
}

.button5{
    margin-top: 2vh;
    margin-left: 6.5vw;
}
.button5:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
i:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.redirect{
    padding-top: 2%;
    text-align: center;
    margin-top:10%;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    border: solid 2px black;
    border-radius: 2%;
    height: auto;
    width: 40vw;
    font-family: 'Inknut Antiqua', serif;
}
.link{
    position: relative;
    left: 20vw;
  }

@media only screen and (max-width: 1024px) {
    .total{
        /*margin-top: 1%;*/
        width:45vw;
        position: absolute;
        left:28vw;
        bottom:-82vh;
    }
}
.redirect{
    padding: 2%;
    text-align: center;
    margin-top:10%;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    border: solid 2px black;
    border-radius: 2%;
    height: auto;
    width: 50vw;
    font-family: 'Inknut Antiqua', serif;
}
.button5{
    margin-left: 9.5vw;
}
@media only screen and (max-width: 768px) {

    .button5{
        margin-right: 8.5vw;
    }
    .link{
        position: relative;
        left: 10vw;
    }
}