.card{
    font-family: 'Inknut Antiqua', serif;
    text-align: center;
    background-image: url("http://az616578.vo.msecnd.net/files/2015/12/19/6358614596527738711752945771_music.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.card p{
    color:whitesmoke;
    background-color: #0e0e0e;
    font-size: 1.5em;
}
.card h4{
    color:whitesmoke;
    background-color: #0e0e0e;
    font-size: 1.5em;
    width:auto;
}
img{
    margin-left: 20vw;
    /*margin-right: auto;*/
}
.image3{
    border: 4px solid red;
    border-radius: 2%;
    padding: .5%;
    background-color: transparent;
}
.name{
    padding: 1.5%;
    width: 10%;
    border: 2px solid red;
    border-radius: 2%;
    display: inline-block;

}
.desc{
    padding: 2%;
    border: 2px solid red;
    border-radius: 2%;
}

.button2{
    text-align: center;
    color: #FFF;
    padding: 15px 20px;
    font-family: 'OpenSansBold', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #C14800;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
}
.button3{
    margin-left: -1%;
}
.button3:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.left{
    margin-right: 2%;
}
.bord{
    border: 4px solid black;
}