img{
    height: 90%;
    width: 90%;
}
#main{
    margin-top: 5%;
}
#box{
    width: 20vw;
}
.button1{
    text-align: center;
    color: #FFF;
    padding: 15px 20px;
    margin: 25px;
    font-family: 'OpenSansBold', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #C14800;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
}
.button1:hover {
    box-shadow: inset 0 100px 0 0 #C14800;
}
