.message{
    text-align: center;
    margin-top: 10%;
}
.image{
    display: none;
}
/*h5{*/
    /*display: none;*/
/*}*/
shipping{
    font-size: 2em;
    position: absolute;
    bottom: 15%;
    left:24%;
}
main{
    display: none;
}
.total{
    background-color: #8fcafe;
    margin-top: 10%;
    
}