.card{
    width:30vw;
    height: 70vh;
    position: absolute;
    left: 35%;
    top:10%;
}
.redirect{
    text-align: center;
    margin-top: 10%;
}
.card-block{
    width:30vw;
}
.image{
    display: none;
}
h5{
    display: none;
}
main{
    display: none;
}