.card{
    width:30vw;
    height: 70vh;
    position: absolute;
    left: 35%;
    top:10%;
}
.redirect{
    padding-top: 2%;
    text-align: center;
    margin-top:10%;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    border: solid 2px black;
    border-radius: 2%;
    height: auto;
    width: 40vw;
    font-family: 'Inknut Antiqua', serif;
}
.card-block{
    width:30vw;
}
.image{
    display: none;
}
h5{
    display: none;
}
main{
    display: none;
}
.sign{
    font-family: 'Inknut Antiqua', serif;
}
.border{
    border: 2px solid black;
    border-radius: 2%;
}
.count{
    font-size: 50px;
}