.card{
    width:30vw;
    height: 70vh;
    margin-left: 35vw;
}
.redirect{
    padding-top: 2%;
    text-align: center;
    margin-top:10%;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    border: solid 2px black;
    border-radius: 2%;
    height: auto;
    width: 40vw;
    font-family: 'Inknut Antiqua', serif;
}
.card-block{
    width:30vw;
}
.image{
    display: none;
}
h5{
    display: none;
}
main{
    display: none;
}
.sign{
    font-family: 'Inknut Antiqua', serif;
    text-align: center;
}
.border{
    border: 2px solid black;
    border-radius: 2%;
    margin-top: 4%;
}
.count{
    font-size: 50px;
}

@media only screen and (max-width: 1024px) {
    .card{
        width:40vw;
        margin-left: 31vw;
        height: auto;
    }
    .button2{
        margin-left: 10vw;
    }
    .sign{
        margin-left: 7vw;
    }
    .line{
       margin-right: auto;
        margin-left: 8.5vw;
    }
}
@media only screen and (max-width: 768px) {
    .card{
        width:50vw;
        margin-left: 25vw;
        margin-top: 4%;
    }
    .redirect{
      width:50vw;
    }
    .card-block{
        width:40vw;
    }
    .sign{
        margin-left: 10vw;
    }
    /*.navbar{*/
        /*display: block;*/
    /*}*/

}
@media only screen and (max-width: 425px) {
    .card{
        width:70vw;
        position: relative;
        right: 10vw;
        margin-top: 4%;
    }
    .card-block{
        width:60vw;
    }
}
@media only screen and (max-width: 375px) {
    .card{
        width:80vw;
        margin-top: 7%;
        position: relative;
        right:14vw;
    }
    .card-block{
        width:70vw;

    }
    .redirect{
        width:70vw;
        height: inherit;
    }
}