<link rel="stylesheet" href="../styles/productDetailsStyle.css">
<div class="animated slideInDown bord">
<div class="card">
      <img parallax parallax-ratio="0.4" style="height: 40%; width:30%" class="img-fluid image3" ng-src="{{$ctrl.product.image}}"  alt="">
      <div class="card-block">
            <h4 class="card-title name">{{$ctrl.product.name}}</h4>
            <p class="card-text desc">{{$ctrl.product.descr}}</p>
            <a ui-sref="products({type:'allproducts'})"> <button class="animated slideInLeft btn btn-primary left">All Products</button></a>
            <a ui-sref="shoppingCart" class="animated slideInDown btn btn-primary button3"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
            <a  ng-class="{'btn btn-warning':!change, 'btn btn-danger':change}" ng-click="change=!change; $ctrl.addToCart($ctrl.product1)" class="animated slideInRight btn btn-primary button2" button-d>Add to Cart</a>
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      </div>
</div>
</div>