<link rel="stylesheet" href="../styles/productDetailsStyle.css">
<div class="animated slideInDown">
<div class="card">

      <!--Card image-->
      <img style="height: 40vh; width:30vw" class="img-fluid image3" ng-src="{{$ctrl.product.image}}"  alt="">
      <!--/.Card image-->

      <!--Card content-->
      <div class="card-block">
            <!--Title-->
            <h4 class="card-title name">{{$ctrl.product.name}}</h4>
            <!--Text-->
            <p class="card-text desc">{{$ctrl.product.descr}}</p>
            <a ui-sref="products({type: 'allproducts'})" class="animated slideInLeft btn btn-primary button3">All Products</a>
            <a  ng-class="{'btn btn-warning':!change, 'btn btn-danger':change}" ng-click="change=!change; $ctrl.addToCart($ctrl.product1)" class="animated slideInRight btn btn-primary button2" button-d>Add to Cart</a>
      </div> <!-- ui-sref="products({type: 'allproducts'})" -->
      <!--/.Card content-->

</div>
</div>