<link rel="stylesheet" href="../styles/signUpStyle.css">
<div class="animated fadeIn card border" ng-if="$ctrl.show ? true : false">
      <div class="card-block">
            <div class="text-center">
                  <h3 class="sign"><i class="fa fa-pencil"></i> Sign-Up</h3>
                  <hr class="mt-2 mb-2">
            </div>
            <br>
            <div class="md-form">
                  <i class="fa fa-user prefix"></i>
                  <input type="text" id="form3" class="form-control" ng-model="$ctrl.firstname">
                  <label for="form3">First Name</label>
            </div>
            <div class="md-form">
                  <i class="fa fa-user prefix"></i>
                  <input type="text" id="form6" class="form-control" ng-model="$ctrl.lastname">
                  <label for="form3">Last Name</label>
            </div>

            <div class="md-form">
                  <i class="fa fa-envelope prefix"></i>
                  <input type="text" id="form2" class="form-control" ng-model="$ctrl.email">
                  <label for="form2">Email</label>
            </div>
            <div class="md-form">
                  <i class="fa fa-user-plus prefix"></i>
                  <input type="text" id="form4" class="form-control" ng-model="$ctrl.username">
                  <label for="form2">Username</label>
            </div>

            <div class="md-form">
                  <i class="fa fa-key prefix"></i>
                  <input type="password" id="form5" class="form-control" ng-model="$ctrl.password">
                  <label for="form2">Password</label>
            </div>

            <div class="text-center">
                  <button class="btn btn-deep-orange" ng-click="$ctrl.addNewUser(); $ctrl.goHome()">Submit</button>
            </div>

      </div>
</div>
<div class="animated slideInDown redirect" ng-if="$ctrl.show ? false : true">
      <h1>Thank you for Signing Up</h1>
      <h3>Redirecting in:<div class="count" count-down></div></h3>
</div>
