img4 {
    height: 30%;
    width: 30%;
}

#main {
    margin-top: 3%;
    display: flex;
    align-items: center;
}

#box {
    width: 20vw;
}

.border {
    border: 3px solid black;
    border-radius: 2%;
    padding: 1%;
}

.button1 {

    text-align: center;
    color: #FFF;
    padding: 15px 20px;
    font-family: 'OpenSansBold', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #C14800;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
    margin-left: 22%;
}

.button1:hover {
    box-shadow: inset 0 100px 0 0 #C14800;
}

.card:hover {
    background-color: whitesmoke;
}

.hover hover {
    background-color: #8fcafe;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

main {
    display: none;
}

.text1 {
    text-align: center;
    font-family: 'Inknut Antiqua', serif;
    font-size: 1.4em;
}

.text2 {
    text-align: center;
    font-family: 'Inknut Antiqua', serif;
    font-size: 1.1em;
}

h3 {
    font-family: 'Inknut Antiqua', serif;
}

.bord {
    border: 4px solid black;
    border-radius: 2%;
}

.bord2 {
    border: 2px solid black;
}

.gome {
    color: whitesmoke;
    font-family: 'Inknut Antiqua', serif;
}

.flex {
    display: flex;
    width: 20vw;
    justify-content: inherit;
    position: relative;
    right: 2vw;
}

.button3:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}



@media only screen and (max-width: 1024px) {
    #main {
        margin-left: auto;
        margin-right: auto;
    }

    .button1 {
        text-align: center;
        color: #FFF;
        font-family: 'Inknut Antiqua', serif;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;
        border-radius: 2px;
        cursor: pointer;
        box-shadow: inset 0 0 0 0 #C14800;
        -webkit-transition: all ease 0.8s;
        -moz-transition: all ease 0.8s;
        transition: all ease 0.8s;
        margin-left: 22%;
        /*max-height: 6vh;*/
    }

    .button3:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }

    .button3 i {
        display: inline-block;
        font-size: 40px;
        line-height: 50px;
        color: white;
        width: 40px;
        height: 50px;
        text-align: center;
        vertical-align: bottom;

    }

    .text2 {
        text-align: center;
        font-family: 'Inknut Antiqua', serif;
        font-size: .9em;
    }

    .text1 {
        text-align: center;
        font-family: 'Inknut Antiqua', serif;
        font-size: 1.1em;
    }

    .top {
        margin-top: 3%;
    }
}

@media only screen and (max-width: 768px) {
    .flex {
        display: flex;
        width: 30vw;
        justify-content: inherit;
        position: relative;
        left: 22vw;
    }


}
@media only screen and (max-width: 425px) {
    .flex {
        margin-left: -12vw;
    }
}

@media only screen and (max-width: 375px) {
    #main {
        margin-right: 2vw;
    }

    .arrow {
        height: 15vh;
        width: 15vw;
    }

    .button {
        margin-right: 0vw;
    }

    .flex {
        margin-left: -19vw;
    }

}